.divContainer {
  padding-bottom: 122px;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
}

;

.btn-wide {
  font-weight: 100;
  width: 10rem;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}