.font-bebas{
  font-family: 'Bebas Neue', cursive;
}

footer{
  bottom: 0;
  height: 10em;
}

.btn {
  font-weight: 100;
}

.btn-wide {
  width: 10rem;
}

.btn-xs{
  align-content: center;
  font-size: 1.3rem;
}